{% extends "base.html" %}

{% block content %}
  <h1 class="mb-4">Регистрация</h1>

  <form method="post" novalidate>
    {{ form.hidden_tag() }}

    <div class="mb-3">
      {{ form.password.label(class="form-label") }}
      {{ form.password(class="form-control") }}
    </div>

    <div class="mb-3">
      {{ form.password_repeat.label(class="form-label") }}
      {{ form.password_repeat(class="form-control") }}
    </div>

    <div class="mb-3">
      {{ form.surname.label(class="form-label") }}
      {{ form.surname(class="form-control") }}
    </div>

    <div class="mb-3">
      {{ form.name.label(class="form-label") }}
      {{ form.name(class="form-control") }}
    </div>

    <div class="mb-3">
      {{ form.age.label(class="form-label") }}
      {{ form.age(class="form-control") }}
    </div>

    <div class="mb-3">
      {{ form.position.label(class="form-label") }}
      {{ form.position(class="form-control") }}
    </div>

    <div class="mb-3">
      {{ form.speciality.label(class="form-label") }}
      {{ form.speciality(class="form-control") }}
    </div>

    <div class="mb-3">
      {{ form.address.label(class="form-label") }}
      {{ form.address(class="form-control") }}
    </div>

    <div class="mb-3">
      {{ form.city_from.label(class="form-label") }}
      {{ form.city_from(class="form-control") }}
    </div>

    <div class="mb-3">
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control") }}
    </div>

    {{ form.submit(class="btn btn-primary") }}
  </form>
{% endblock %}